---
import './global.css';
import Header from './header.astro'
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
const { frontmatter } = Astro.props;
const formatDate = new Date(frontmatter.date.replace('Z', ''))
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="generator" content={Astro.generator} />
<link rel="alternate" type="application/rss+xml" title="Thadeus Smith" href={new URL("rss.xml", Astro.site)}/>
<link rel="sitemap" href="/sitemap-index.xml" />
<script defer data-domains="thadeussmith.com,reader5567.github.io" src="https://cloud.umami.is/script.js" data-website-id="9e360623-16d5-4cbd-9d87-24ef770232b9"></script>
<title>{frontmatter.title} – Thadeus Smith</title>
</head>
<body>
<Header />

<article>
  <h1 id="article-title">{frontmatter.title}</h1>
  <slot />
</article>
<footer>
  <div class="info">
    <p><span class="infotype">Title:</span> {frontmatter.title}</p>
    <p><span class="infotype">Author:</span> Thadeus Smith</p>
    <p><span class="infotype">Published:</span> {formatDate.toDateString()}</p>
  </div>
  <div class="siteinfo">
    <p>© {formatDate.getFullYear()}</p>
  </div>
</footer>
</body>
</html>
